$blue800: #111b47;
$blue700: #222f65;
$blue600: #37447e;
$blue500: #505f98;
$blue300: #929ecc;
$blue200: #e6ebff;

$grey700: #454e54;
$grey600: #5d6970;
$grey400: #939ea4;
$grey300: #cdd1d4;

$white100: #fff;
